body
{
    font:  Verdana, Arial, Helvetica, sans-serif;
    color: #050505;
    max-width: 1920px;
}

.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

#main_canvas{
    margin-left: 3px;
    border : 1px solid #191919;
}


#msg{
    position: relative;
    color: #ff5050;
    font-size: 25px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align:center;
}
#score{
    margin-left: 3px;
    margin-top: 6px;
    font-size: 22px;
}
#score .you{
    float: left;
}
#score span.red{
    color: #ff5050;
    font-weight:bold;
}
#clear{
    float: right;
    cursor: pointer;
}